
mysite/.env
/mysite/blog/__pycache__
/mysite/my_blog/__pycache__
/mysite/my_blog/migrations/__pycache__
/mysite/mysite/__pycache__
/mysite/my_blog/templatetags/__pycache__
mysite/db.sqlite3
mysite/mysite_data.json
